body {
    background: rgba(205, 125, 166, 0.48);
    color: rgba(34, 153, 48, 0.769);
    padding: 10px;
    font-family: Georgia;
    text-align:center;
    border:dotted;
    border-width:15px;
    border-radius: 1000px;
}
#all-contents {
    max-width: 800px;
    margin: auto;
    margin: dotted;
    border:round;
}

/* navigation menu */
nav {
    background: rgba(72, 193, 28, 0.798);
   margin: 0 none;
    display: flex;
    padding: 10px;
    border-radius:900px;
}
h1 {
    display: flex;
    align-items: center;
    color: rgb(255, 5, 201);
    flex: 25;
    margin: 25;
}
#nav-ul {
    list-style-image: Edge 12;
    border-radius:900px
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
    border-radius:900px
}
a {
    text-decoration: none;
    color: #fb42a8a0;
}

/* main container area beneath menu */
main {
    background: rgba(254, 20, 191, 0.172);
    display: flex;
    border-radius:900px;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
    border:900px;

}
.sidebar-img {
    width: 110px;
    border:dotted;
    border-radius:100px;

}
.content {
    flex: 1;
    padding: 100px;
}

/* portfolio styles */
#interests {
    border: 900px rgb(72, 252, 7) dotted;
    padding: px;
    border: dotted ;

}
h2, h3 {
    margin: 15px;
    border:dotted;
    border-radius:1000px;
}
     
           